$blue-500: rgba(59, 130, 246);
$blue-800: rgba(30, 64, 175);
$color-theme: $blue-800;

$header-height: 60px;
$app-content-padding: 1rem;

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-base: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;

$p-0\.5: 0.125rem;
$p-1: 0.25rem;
$p-2: 0.5rem;
$p-4: 1rem;
$p-8: 2rem;
$p-10: 2.5rem;

$rounded-sm: 0.125rem;
$rounded-default: 0.25rem;
